@{
    ViewBag.Title = "計畫表";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title - 我的 ASP.NET 應用程式</title>
</head>
<body>
    <div>
        Hello woeld!
    </div>

    @*1.引用JS*@
    <script src="~/Scripts/vue.js"></script>
    <script src="~/Scripts/jquery-3.3.1.js"></script>
    <script>

    </script>
</body>
</html>
